
    <nav class="navbar navbar-expand-lg navbar-light bg-cms" *ngIf="customNavbar=='cms'">
        <img src="assets/img/angular-logo.png" href="cms/event/list" style="width: 54px;">
        <a class="navbar-brand" href="#">RUNEVENT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <button type="button" class="btn btn-danger " (click)="signOut()">Signout</button>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-light bg-site" *ngIf="customNavbar == 'website'">
        <img src="assets/img/angular-logo.png" href="" style="width: 54px;">
        <a class="navbar-brand" [routerLink]="['/']">RUNEVENT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

 

  

