.bg-cms{
    background-color: rgb(149, 182, 204)
}
.bg-site{
    background-color: rgb(34, 37, 39)
}

.btn-outline-success {
    color: #20618c;
    background-color: transparent;
    background-image: none;
    border-color: #20618c;
}
.navbar-light .navbar-brand {
    color: #20618c;
    font-size: 2rem;
    font-weight: 1000;
    margin-right: 3rem;
}

.nav-link{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 1000;

}

.navbar-collapse{
    font-weight: 500;
}

.btc{

    background-color: #aa4953;
    border-color: #aa4953;

    margin-left: 980px;  
}

.navbar-brand{
    margin-left: 20px; 
}

.btn-danger{
    color: #fff;
    background-color: #aa4953;
    border-color: #aa4953; 
}
