<body>
    <navbar></navbar>

    <h2 class="title">Event List</h2>

    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ชื่องาน</th>
            <th scope="col">สถานที่</th>
            <th scope="col">วันจัดงาน</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events" class="container">
            <td >{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
          </tr>
        </tbody>
      </table>
</body> 