<body>
    <navbar></navbar>

    <h2 class="title">Event List</h2>

    <!-- <h1>
    <fa-icon [icon]="faCoffee"></fa-icon>
    </h1> -->
    
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ชื่องาน</th>
            <th scope="col">สถานที่</th>
            <th scope="col">วันจัดงาน</th>
            <th scope="col">จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events let i = index"  class="container">
            <td >{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.id}}</td>
            <td><a>รายละเอียด</a>
              <button type="button" class="btn btn-primary add" [routerLink]="['/cms/event/edit',event.id]">แก้ไข</button>
              <button type="button" class="btn btn-primary add" (click)="openModal(template,event.id)">ลบ</button></td>
          </tr>
        </tbody>
      </table>
</body>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn  btn-primary" (click)="deleteEvent()" >Yes</button>
    <button type="button" class="btn btn-danger" (click)="decline()">No</button>
  </div>
</ng-template>