<navbar></navbar>
<div class="form-login">
    <div class="login-title">
        <h1 class="title">EDIT EVENT</h1>
    </div>
    <div class="login">

            <div class="form-group">
                <label>ชื่องาน</label>
                <input  type="text" 
                        class="form-control witd-350" 
                        [(ngModel)]="name" 
                        name="name">
            </div>

            <div class="form-group">
                <label>สถานที่</label>
                <input  type="text" 
                        class="form-control" 
                        [(ngModel)]="location" 
                        name="location">
            </div>

            <button type="button" class="btn btn-primary add" (click)="addPackage()">เพิ่มแพ็คเก็จ</button><br>

            <div *ngFor="let package of packages let i = index" class="row package-box">
                <div class="row">

                    <div>
                        <label>ชื่อแพ็คเก็จ :</label>
                        <input name="package-name" type="text" [(ngModel)]="package.name" >
                    </div>
                    
                    <div>
                        <label>วันที่</label>
                            <input
                                placeholder="กำหนดวันจัดงาน"
                                #datepickerYMD="bsDatepicker"
                                bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                [(ngModel)]="package.date" 
                                name="date">
                    </div> 
                    
                    <div>
                        <label>เวลา :</label>
                        <input name="package-time" type="time" [(ngModel)]="package.time">
                    </div>

                    <div>
                        <label>ค่าสมัคร(บาท) :</label>
                        <input name="package-price" type="text" [(ngModel)]="package.price">
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary add" (click)="deletePackage(i)">ลบ</button>
                    </div>
                </div>

                <div class="row">

                    <div style="padding-left: 80px; ">
                        <input name="package-islimit" type="checkbox" [(ngModel)]="package.isLimit">
                        <label>จำกัดผู้สมัคร</label>
                    </div>

                    <form class="form-inline">

                        <div *ngIf="package.isLimit" class="form-group" style="margin-bottom: 0px; padding-top: 14px;">
                            <label class="label-pading">จำนวนผู้สมัคร(คน) :</label>
                            <input type="text" class="form-control" name="package-limit-count" [(ngModel)]="package.limitCount">
                        </div>

                    </form>
                </div><hr>
            </div>

            <button type="submit" class="btn btn-primary commit" (click)="createEvent()">ตกลง</button>

    </div>
</div>